# Default values for kubernetes-external-secrets.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Environment variables to set on deployment pod
env:
  AWS_REGION: us-west-2
  POLLER_INTERVAL_MILLISECONDS: 10000  # Caution, setting this frequency may incur additional charges on some platforms
  WATCH_TIMEOUT: 60000
  WATCHED_NAMESPACES: ""  # Comma separated list of namespaces, empty or unset means ALL namespaces.
  LOG_LEVEL: info
  LOG_MESSAGE_KEY: "msg"

  #Akeyless rest-v2 endpoint
  AKEYLESS_API_ENDPOINT:  https://api.akeyless.io
  AKEYLESS_ACCESS_ID:
  #AKEYLESS_ACCESS_TYPE can be one of the following: aws_iam/azure_ad/gcp/access_key
  AKEYLESS_ACCESS_TYPE:
  #AKEYLESS_ACCESS_TYPE_PARAM can be one of the following: gcp-audience/azure-obj-id/access-key
  #AKEYLESS_ACCESS_TYPE_PARAM:


  # Print logs level as string ("info") rather than integer (30)
  # USE_HUMAN_READABLE_LOG_LEVELS: true
  METRICS_PORT: 3001
  VAULT_ADDR: http://127.0.0.1:8200
  # Set a role to be used when assuming roles specified in external secret (AWS only)
  # AWS_INTERMEDIATE_ROLE_ARN:
  # GOOGLE_APPLICATION_CREDENTIALS: /app/gcp-creds/gcp-creds.json
  # Use custom endpoints for FIPS compliance
  # AWS_STS_ENDPOINT: https://sts-fips.us-east-1.amazonaws.com
  # AWS_SSM_ENDPOINT: http://ssm-fips.us-east-1.amazonaws.com
  # AWS_SM_ENDPOINT: http://secretsmanager-fips.us-east-1.amazonaws.com

  # Use Azure Environment-oriented KeyVault endpoints
  # AZURE_ENVIRONMENT: AzureUSGovernment
  # AZURE_KEY_VAULT_DNS_SUFFIX: vault.usgovcloudapi.net

# Create environment variables from existing k8s secrets
envVarsFromSecret: {}
#  AWS_ACCESS_KEY_ID:
#    secretKeyRef: aws-credentials
#    key: id
#  AWS_SECRET_ACCESS_KEY:
#    secretKeyRef: aws-credentials
#    key: key
#  ALICLOUD_ENDPOINT:
#    secretKeyRef: alicloud-credentials
#    key: endpoint
#  ALICLOUD_ACCESS_KEY_ID:
#    secretKeyRef: alicloud-credentials
#    key: id
#  ALICLOUD_ACCESS_KEY_SECRET:
#    secretKeyRef: alicloud-credentials
#    key: secret
#  AZURE_TENANT_ID:
#    secretKeyRef: azure-credentials
#    key: tenantid
#  AZURE_CLIENT_ID:
#    secretKeyRef: azure-credentials
#    key: clientid
#  AZURE_CLIENT_SECRET:
#    secretKeyRef: azure-credentials
#    key: clientsecret

# Create environment variables from existing k8s secrets
envVarsFromConfigMap: {}
#  AWS_ACCESS_KEY_ID:
#    configMapKeyRef: aws-credentials
#    key: id
#  AWS_SECRET_ACCESS_KEY:
#    configMapKeyRef: aws-credentials
#    key: key
#  ALICLOUD_ENDPOINT:
#    configMapKeyRef: alicloud-credentials
#    key: endpoint
#  ALICLOUD_ACCESS_KEY_ID:
#    configMapKeyRef: alicloud-credentials
#    key: id
#  ALICLOUD_ACCESS_KEY_SECRET:
#    configMapKeyRef: alicloud-credentials
#    key: secret
#  AZURE_TENANT_ID:
#    configMapKeyRef: azure-credentials
#    key: tenantid
#  AZURE_CLIENT_ID:
#    configMapKeyRef: azure-credentials
#    key: clientid
#  AZURE_CLIENT_SECRET:
#    configMapKeyRef: azure-credentials
#    key: clientsecret


# List of sources to populate environment variables in the container.
# The keys defined within a source must be a C_IDENTIFIER. All invalid keys
# will be reported as an event when the container is starting. When a key
# exists in multiple sources, the value associated with the last source will
# take precedence. Values defined by an Env with a duplicate key will take precedence.
# https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables
envFrom: {}
# - configMapRef:
#     name: special-config
# - secretRef:
#     name: special-config


# Create files from existing k8s secrets
# filesFromSecret:
#   gcp-creds:
#     secret: gcp-creds
#     mountPath: /app/gcp-creds

rbac:
  # Specifies whether RBAC resources should be created
  create: true

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Specifies annotations for this service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

# Using multiple replicas is not recommended as there is no coordination between replicas.
# Replicas will try to create and update secrets concurrently which might lead to race conditions.
replicaCount: 1

image:
  repository: ghcr.io/external-secrets/kubernetes-external-secrets
  tag: 8.5.5
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

# All label values must be strings
deploymentLabels: {}

podAnnotations: {}
podLabels: {}

priorityClassName: ""

dnsConfig: {}

securityContext:
  runAsNonRoot: true
  # Required for use of IRSA, see https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html
  # fsGroup: 65534

# A security context defines privilege and access control settings for a Pod or Container.
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
containerSecurityContext: {}
  # allowPrivilegeEscalation: false
  # privileged: false

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

podDisruptionBudget: {}

serviceMonitor:
  enabled: false
  interval: "30s"
  namespace:

deploymentInitContainers: {}

# Add in additional named volumes and volume mounts to the deployment
#
extraVolumes: []
#  - name: namedVolume
#    emptyDir: {}
#
extraVolumeMounts: []
#  - name: namedVolume
#    mountPath: /usr/path
#    readOnly: false

# Add additional RBAC rules to the ClusterRole granted to the service account
customClusterRoles: {}
